<!--begin::Engage widget 10-->
<div class="card card-flush h-md-100 shadow">
	<!--begin::Body-->
	<div class="card-body d-flex flex-column justify-content-between bgi-no-repeat bgi-size-cover bgi-position-x-center pb-0" style="background-position: 100% 50%; background-image:url('assets/media/stock/900x600/42.png')">
		<!--begin::Wrapper-->
			<!--begin::Title-->
			<div class="fs-2hx fw-bold text-gray-800 text-center">
			<span class="position-relative d-inline-block text-danger">
				<a href="#" class="text-danger opacity-75-hover">{{'Market Data'|trans}}</a>
				<!--begin::Separator-->
				<span class="position-absolute opacity-15 bottom-0 start-0 border-4 border-danger border-bottom w-100"></span>
				<!--end::Separator-->
			</span></span></div>
			<!--end::Title-->
		<!--begin::Wrapper-->
	</div>
	<!--end::Body-->
</div>
<!--end::Engage widget 10-->